@font-face {
  font-family: "Titillium-Regular";
  src: url(./Font/TitilliumWeb-Regular.ttf);
}
body {
  font-family: Titillium-Regular;
  margin: 0;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

#title {
  text-align: center;
  color: #f0d5a4;
}

section {
  display: grid;
  width: 85%;
  margin: auto;
  color: #f5f1ea;
  gap: 20px;
  grid-template-areas: "a a a a" "b c h i" "d e f g";
}
section div {
  border: 2px solid #5d5d5d;
  border-radius: 5px;
  padding: 20px;
}
section .divToday {
  border: 2px solid #a5a5a5;
  border-radius: 5px;
  padding: 20px;
  grid-area: a;
  text-align: center;
  display: grid;
  grid-template-areas: "a a" "b e" "c f" "d g";
}
section .divToday .heure {
  grid-area: a;
}
section .divToday .temperature {
  grid-area: b;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .divToday .temperature span {
  margin: 20px 10px;
}
section .divToday .precisionIcon {
  grid-area: c;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .divToday .pression {
  grid-area: d;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .divToday .humidite {
  grid-area: e;
}
section .divToday .soleilCycle {
  grid-area: f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
section .divToday .soleilCycle div {
  border: none;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
section .divToday .soleilCycle div span {
  margin: 0 10px;
}
section .divToday .uv {
  grid-area: g;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
section .divToday .uv p {
  display: flex;
  align-items: center;
}
section .divToday .uv p span {
  margin: 20px 10px;
}
section .divHeure {
  grid-area: b;
  text-align: center;
}
section .divsix {
  grid-area: c;
  text-align: center;
}
section .divHuit {
  grid-area: h;
  text-align: center;
}
section .divDix {
  grid-area: i;
  text-align: center;
}
section .divTomorrow {
  grid-area: d;
  text-align: center;
}
section .divTomorrow .tempMaxTomorrow {
  color: #f1a138;
}
section .divTomorrow .tempMinTomorrow {
  color: #0099ff;
}
section .div2 {
  grid-area: e;
  text-align: center;
}
section .div2 .temp2Max {
  color: #f1a138;
}
section .div2 .temp2Min {
  color: #0099ff;
}
section .div3 {
  grid-area: f;
  text-align: center;
}
section .div3 .temp3Max {
  color: #f1a138;
}
section .div3 .temp3Min {
  color: #0099ff;
}
section .div4 {
  grid-area: g;
  text-align: center;
}
section .div4 .temp4Max {
  color: #f1a138;
}
section .div4 .temp4Min {
  color: #0099ff;
}

/*             Tablette Responsive             */
/*             Mobile Responsive             */
@media screen and (max-width: 500px) and (min-width: 351px) {
  #section {
    grid-template-areas: "a a" "b c" "h d" "i e" "f g";
  }
  #section .soleilCycle div span {
    margin: 0 10px;
    font-size: 11px;
  }
  #section .divToday {
    grid-template-areas: "a a" "d b" "f f" "c e" "g g";
  }
}
@media screen and (max-width: 350px) {
  #section {
    margin: 5px;
    grid-template-areas: "a a a" "b b c" "h i d " "e f g";
  }
  #section .soleilCycle {
    grid-area: f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #section .soleilCycle div {
    border: none;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
  }
  #section .soleilCycle div span {
    margin: 0 10px;
    font-size: 11px;
  }
  #section .divToday {
    grid-template-areas: "a a" "d b" "f f" "c e" "g g";
  }
}

/*# sourceMappingURL=style.css.map */
