@font-face {
    font-family: "Titillium-Regular";
    src: url(./Font/TitilliumWeb-Regular.ttf);
}
body{
    font-family: Titillium-Regular;
    margin: 0;
    // background-image: url(./img/fond.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
    background-color: #1A2536;

}
#title{
    text-align: center;
    color: rgb(240, 213, 164);
}
section{
    display: grid;
    width: 85%;
    margin: auto;
    color: rgb(245, 241, 234);
    gap: 20px;
    grid-template-areas: 
        "a a a a"
        "b b c c"
        "d e f g";
    div{
        border: 2px solid rgb(93, 93, 93);
        border-radius: 5px;
        padding: 20px;
    }
    .divToday{
        border: 2px solid rgb(165, 165, 165);
        border-radius: 5px;
        padding: 20px;
        grid-area: a;
    }
    .divHeure{
        grid-area: b;
    }
    .divsix{
        grid-area : c
    }
    .divTomorrow{
        grid-area: d;
        .tempMaxTomorrow{
            color: rgb(241, 161, 56);
        }
        .tempMinTomorrow{
            color: rgb(0, 153, 255);
        }   
    }
    .div2{
        grid-area: e;
    }
    .div3{
        grid-area: f;
    }
    .div4{
        grid-area: g;
    }
}
