@font-face {
    font-family: "Titillium-Regular";
    src: url(./Font/TitilliumWeb-Regular.ttf);
}
body{
    font-family: Titillium-Regular;
    margin: 0;
    // background-image: url(./img/fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    // background-color: #1A2536;
    background-image: url("./img/fond_meteo.jpg");

}
#title{
    text-align: center;
    color: rgb(240, 213, 164);
}
section{
    display: grid;
    width: 85%;
    margin: auto;
    color: rgb(245, 241, 234);
    gap: 20px;
    grid-template-areas: 
        "a a a a"
        "b b c c"
        "d e f g";
    div{
        border: 2px solid rgb(93, 93, 93);
        border-radius: 5px;
        padding: 20px;
    }
    .divToday{
        border: 2px solid rgb(165, 165, 165);
        border-radius: 5px;
        padding: 20px;
        grid-area: a;
        text-align: center;
        display: grid;
        grid-template-areas: 
            "a e"
            "b f"
            "c g"
            "d h";
        .heure{
            grid-area: a;
        }
        .temperature{
            grid-area: b;
        }
        .precisionImg{
            grid-area: c;
        }
        .pression{
            grid-area: d;
        }
        .humidite{
            grid-area: e;
        }
        .soleilCycle{
            grid-area: f;
        }
        .uv{
            grid-area: g;
        }
        .vent{
            grid-area: h;
        }
    }
    .divHeure{
        grid-area: b;
    }
    .divsix{
        grid-area : c
    }
    .divTomorrow{
        grid-area: d;
        text-align: center;
        .tempMaxTomorrow{
            color: rgb(241, 161, 56);
        }
        .tempMinTomorrow{
            color: rgb(0, 153, 255);
        }   
    }
    .div2{
        grid-area: e;
        text-align: center;
    }
    .div3{
        grid-area: f;
        text-align: center;
    }
    .div4{
        grid-area: g;
        text-align: center;
    }
}
